@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Red Rose", cursive;
  --primary-clr: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  --primary-clr-2: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  --primary-clr-hover: linear-gradient(90deg, #d02279 5.45%, #d02279 5.45%);
  --button-color: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  --black: #434343;
  --overlay--color: rgba(64, 64, 64, 0.3);
  --footer-white: #f1f3f9;
  --copy-white: #f7f7f7;
  --modal-color: #f8f9fa;
  --f-weight: 700;
  --f-weight-2: 400;
  --transition: all 0.3s linear;
}
link,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
.btn {
  font-family: var(--ff-primary);
}
.section-center {
  margin: 0 2rem;
  margin-top: 2.875rem;
}
/* 
===============
Navbar
===============
*/
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  gap: 3rem;
}
.links {
  text-decoration: none;
  color: var(--black);
  font-weight: var(--f-weight-2);
  font-family: var(--ff-primary);
  transition: var(--transition);
  font-size: 1.25rem;
}
.links:hover {
  color: #656565;
}
.btn {
  background: var(--primary-clr);
  border: none;
  padding: 0 1.625rem;
  height: 3rem;
  color: #fff;
  transition: all 0.2s linear;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background: var(--primary-clr-hover);
}
.navbutton {
  height: 1rem;
  background: transparent;
  border: none;
}
.menu {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1024px) {
  .navlogo {
    height: 1.5rem;
  }
  .nav-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .connect {
    display: none;
  }
  .navlinks {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .section-center {
    margin: 0 3.25rem;
    margin-top: 2.875rem;
  }
  .navlogo {
    height: 2rem;
  }
  .nav-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .connect {
    display: block;
    border-radius: 10px;
  }
  .navlinks {
    display: flex;
  }
  .navbutton {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .section-center {
    margin: 0 6.25rem;
    margin-top: 2.875rem;
  }
}
/* 
===============
End of Navbar
===============
*/

/* 
===============
Hero Center
===============
*/
.hero-center {
  margin-top: 4rem;
}
.title {
  font-weight: var(--f-weight);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.title-clr {
  text-transform: capitalize;
  color: #a02279;
}
.hero-info {
  font-size: 1.25rem;
  color: var(--black);
  font-weight: var(--f-weight-2);
  margin-bottom: 3rem;
}
.form-cont {
  width: 70vw;
  margin-bottom: 2rem;
}
.location {
  height: 3rem;
  padding-left: 1rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #a3a3a3;
  width: 60%;
}
.search-btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 40%;
}
.images-center {
  display: grid;
  justify-content: center;
  align-self: center;
  /* gap: 1.5rem; */
}
.desktop-container {
  max-width: 80%;
  height: 65%;
  margin: 0 auto;
}
.desktop-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-img {
  height: 5rem;
  object-fit: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .desktop-container {
    /* border: 2px solid red; */
    max-width: 70%;
    height: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .hero-center {
    margin-top: 7.81rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }
  .hero-info {
    font-size: 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .hero-text,
  .hero-images {
    width: 50%;
  }
  .form-cont {
    width: 100%;
  }
  .desktop-container {
    max-width: 100%;
    height: 100%;
  }
  .desktop-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.hero-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-clr);
  min-width: 95vw;
  height: 4.375rem;
  padding: 0.5rem;
  margin-top: 4.2rem;
}
.tokens {
  height: 2rem;
}
@media screen and (max-width: 426px) {
  .form-cont {
    min-width: 80vw;
    margin-bottom: 2rem;
  }
  .hero-footer {
    gap: 0.25rem;
  }
  .tokens {
    height: 1.35rem;
  }
}
@media screen and (max-width: 321px) {
  .tokens {
    height: 1.15rem;
  }
}
/* 
===============
End of Hero Center
===============
*/
/* 
===============
Adventure Center
===============
*/
.small-title {
  color: #000;
  font-weight: var(--f-weight);
  text-align: center;
  margin-bottom: 2.625rem;
  font-size: 3rem;
}
.nft-card {
  background: var(--primary-clr-2);
  border-radius: 1rem;
  border: 1px solid #d7d7d7;
  padding: 15px;
  transition: var(--transition);
  margin-bottom: 1.5rem;
}
.nft-card:hover {
  transform: scale(1.04);
}
.nft-images {
  margin-bottom: 1rem;
}
.nft-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
.nft-title,
.nft-rates,
.distance,
.avail {
  font-weight: var(--f-weight-2);
  color: var(--black);
  font-size: 0.75rem;
}
.nft-rates {
  font-weight: var(--f-weight);
}
.nft-distance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
.nft {
  width: 100%;
  height: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}
.nft-images {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 375px) {
  .nft-card {
    margin-bottom: 0;
  }
  .nft-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .nft-card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 768px) {
  .nft-center {
    justify-content: center;
  }
  .nft-card {
    flex: 0 0 calc(33.33% - 1rem);
  }
}
@media screen and (min-width: 1024px) {
  .nft-center {
    justify-content: center;
  }
  .nft-card {
    flex: 0 0 calc(20% - 1rem);
  }
  .nft-images {
    max-width: 120%;
    max-height: 100%;
  }
}
/* 
===============
End of Adventure Center
===============
*/
/* 
===============
Meta Center
===============
*/
.meta {
  background: var(--primary-clr);
}
.meta-center {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.meta-text {
  margin: 0 auto;
}
.meta-title {
  color: #fff;
  font-size: 3rem;
  font-weight: var(--f-weight);
  margin-bottom: 2rem;
  text-align: center;
}
.meta-info {
  color: #fff;
  font-size: 1.125rem;
  font-weight: var(--f-weight-2);
  max-width: 25rem;
  line-height: 35px;
  margin: 0 auto;
}
.meta-button {
  background: var(--primary-clr-2);
  color: #a02279;
  border-radius: 8px;
  margin-top: 3.5rem;
}
.meta-button:hover {
  background: var(--primary-clr-2);
}
.btn-cont {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.meta-image {
  width: 15rem;
  height: 12rem;
  margin: 2rem auto;
}
.meta-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .meta-image {
    width: 30rem;
    height: 20rem;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1024px) {
  .meta-center {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .meta-image {
    margin: 0 auto;
    width: 35rem;
    height: 20rem;
  }
  .meta-title {
    text-align: left;
  }
  .meta-info,
  .btn-cont {
    margin-left: 0;
  }
}
/* 
===============
End of Meta Center
===============
*/
/* 
===============
Footer
===============
*/
.foot {
  background: #1d1d1e;
  margin-top: -2.875rem;
  padding-top: 3.625rem;
  padding-bottom: 2.4rem;
}
.foot-logo {
  margin-bottom: 2rem;
}
.social-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.logos-cont {
  display: grid;
  align-content: space-between;
  justify-content: center;
}
.foot-small-title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: var(--f-weight);
  margin-bottom: 1.5rem;
}
.small-links {
  margin-bottom: 0.75rem;
  color: #fff;
  font-weight: var(--f-weight-2);
  font-size: 0.875rem;
}
.footer-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.copy {
  color: #fff;
  font-weight: var(--f-weight-2);
  font-size: 1rem;
  text-align: left;
  margin-top: 1rem;
}
.desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .long-cont {
    height: 8rem;
  }
  .logo-contain {
    margin-bottom: 2rem;
  }
  .social-icons {
    justify-content: flex-start;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

/* 
===============
End of Footer
===============
*/
/* 
===============
Place
===============
*/
.place {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
}
.place-links {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: var(--f-weight-2);
}
.settings-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  width: 10rem;
}
.place-nft {
  margin-bottom: 5.75rem;
}
.footer-place {
  margin-top: 2.875rem;
}
/* 
===============
End of Place
===============
*/
/* 
===============
Sidebar
===============
*/
.section {
  position: relative;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  z-index: 20;
  background: #fff;
  transition: var(--transition);
  transform: translate(0%);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 64, 64, 0.3);
  z-index: 10;
}
.close-modal {
  visibility: hidden;
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 64, 64, 0.3);
  visibility: hidden;
  z-index: 10;
}
.sidebar-lists {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.close-menu {
  position: fixed;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}
.sidebar-button {
  display: block;
  border-radius: 10px;
}
.close-sidebar {
  display: block;
  visibility: visible;
  transform: translate(100%);
}
/* 
===============
End of Sidebar
===============
*/
/* 
===============
Modal
===============
*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 80%;
  /* display: none; */
}
.modal-cont {
  display: grid;
  background: #fff;
  border-radius: 8px;
  width: 100%;
}
.mode {
  border-bottom: 1px solid #cfd8dc;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
.modal-title {
  text-transform: capitalize;
  font-weight: var(--f-weight);
  font-size: 1.5rem;
  color: #333;
}
.modal-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.wallet-options {
  padding: 1.5rem 2rem;
}
.wallet-title {
  color: #333333;
  font-weight: var(--f-weight-2);
  font-size: 1rem;
}
.wallet-coins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  margin-top: 1rem;
}
.wallet-coins h6 {
  font-size: 1.125rem;
  color: #000;
  font-weight: 600;
  font-family: "Sora";
}
.wall-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.grey-wall {
  background: #f8f9fa;
}
@media screen and (max-width: 320px) {
  .wall-cont {
    gap: 0.25rem;
  }
}
@media screen and (min-width: 625px) {
  .modal {
    max-width: 37.5rem;
  }
}
.show-modal {
  display: block;
  visibility: visible;
}
/* 
===============
End of Modal
===============
*/
